<div class='main-content'>
	
	<div class='row'>
		
		<%= render 'layouts/sidebar' %>

		<div class='main col-sm-9'>
			
			<h3>Intranet Tools</h2>

			<ul>
				<li>one</li>
				<li>one</li>
				<li>one</li>
			</ul>

		</div>
		
	</div>

</div>
