/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body {

	background-color: #808080;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.container-login {

	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.btn-submit {

	text-align: left;
}

.main-content {
	
	background-color: #FFF;
	min-height: 800px;
	padding-top: 30px;

}

.sidebar {
	margin-top: 20px;	
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 20px;

}

.main {
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 30px;
	border-left: dotted 1px;
	min-height: 700px;

}

.footer {

	background-color: #999;
	margin-top: 20px;
	padding: 20px;
	min-height: 200px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}
