<div class='panel panel-primary main-panel'>
	<div class='panel-heading'>
		<h4>Announcements</h4>
	</div>
	
	<div class='panel-body'>
			<ul>
				<li><a href="">Happy Birthday Esteban!</a></li>
				<li><a href="">3d Renderer</a></li>
				<li><a href="">Designer</a></li>
			</ul>
	</div>

</div>