<div class='panel panel-primary main-panel'>
	<div class='panel-heading'>
		<h4>Internal Job Posting</h4>
	</div>
	
	<div class='panel-body'>
		<ul>
			<li><a href="">Data Analyst</a></li>
			<li><a href="">3d Renderer</a></li>
			<li><a href="">Designer</a></li>
		</ul>
	</div>

</div>