	<div class='sidebar col-sm-3'>
			
	<!-- Sidebar Notifications Goes Here-->

			<div class='panel panel-primary'>
				<div class='panel-heading'>
					Message Board					
				</div>
			</div>

			<div class="list-group">
				  
				  <a href="#" class="list-group-item">Bulletin Board <span class='badge'>2</span></a>
				  <a href="#" class="list-group-item">Announcements</a>
				  <a href="#" class="list-group-item">User Postings</a>
				  <a href="#" class="list-group-item">Inbox <span class='badge'>10</span></a>
				  
			</div>
	
	<!-- Sidebar Notifications Goes Here-->

			<div class='panel panel-primary'>
				<div class='panel-heading'>
					IONS					
				</div>
			</div>

			<div class="list-group">
				  
				  <a href="#" class="list-group-item">Leave Application <span class='badge'>3</span></a>
				  <a href="#" class="list-group-item">Official Business Application</a>
				  <a href="#" class="list-group-item">Overtime Application</a>
				  
			</div>

	</div>