<div class='panel panel-primary main-panel'>
	<div class='panel-heading'>
		<h4>What's New</h4>
	</div>
	
	<div class='panel-body'>
			<ul>
				<li><a href="">Employee Movement</a></li>
				<li><a href="">ISO Schedule</a></li>
				<li><a href="">Fire Drill Schedule</a></li>
				<li><a href="">How Are You? Sessions</a></li>
			</ul>
	</div>

</div>